@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-image: linear-gradient(120deg, #000000 0%, #01086b 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: "Uchen", serif;
}

.container {
  display: flex;
}

.card {
  height: 425px;
  width: 275px;
}

.card-center {
  font-size: 90px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.card-suit {
  font-size: 75px;
  display: flex;
}
